<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Automation Test Suite">

    <listeners>
        <listener class-name="MercuryTravels.qa.ExtentReportListener.ExtentReporterNG"/>
    </listeners>


    <test name="Test Cases">
        <classes>
            <class name="mercuryTravels.qa.testcases.LoginPageTest" />
            <class name="mercuryTravels.qa.testcases.SearchAllDetailsPageTest" />
            <class name="mercuryTravels.qa.testcases.FlightsAllFieldValidationPageTest" />
            <class name="mercuryTravels.qa.testcases.SeatBookingPageTest" />
        </classes>
        </test>
    </suite>
